body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #336637, #1FBB2C);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.painel {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
  margin-top: 0;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #1FBB2C;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #169422;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  background: #f2f2f2;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 5px;
  font-size: 14px;
}
