* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #336637;
    --cor2: #1FBB2C;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #336637, #1FBB2C);
  display: flex;
  flex-direction: column;
}

.conteudo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

.card img {
    max-width: 120px;
}

.card h1 {
  margin-bottom: 10px;
  color: var(--cor1);
}

.card p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: var(--cor2);
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--cor1);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--cor1);
  transform: scale(1.03);
}

.mensagem {
  margin-top: 15px;
  font-weight: bold;
}

footer {
    background: linear-gradient(135deg, #2e7d32, #43a047);
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
